
*{
    margin: 0;
    padding: 0;
}

.owl-dots{
    padding: 0px !important;
    width: 0px !important;
    height: 0px !important;
}

@media (min-width: 320px) and (max-width: 480px){
    header{
        width: 100%;
        padding: 0px 10px;
    }
    header nav{
        width: 100%;
    }
    header nav .bars{
        display: block;
    }
    header nav .menu{
        z-index: 100;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: #000000;
        position: fixed;
        padding: 0%;
        transition: all 0.1s;
        overflow-x: hidden;
    }
    header nav .menu li{
        display: block;
        padding: 10%;
        width: 100%;
        border-top: 1px solid #3366;
    }
    header nav .close{
        top: 10%;
        right: 0%;
        z-index: 200;
    }
    header nav .btn{
        display: none;
    }
}
@media (min-width: 481px) and (max-width: 767px){
    header{
        width: 100%;
        padding: 0px 10px;
    }
    header nav{
        width: 100%;
    }
    header nav .bars{
        display: block;
    }
    header nav .bars i{
        font-size: 30px;
    }
    header nav .menu{
        z-index: 100;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: #000000;
        position: fixed;
        padding: 0%;
        transition: all 0.1s;
        overflow-x: hidden;
    }
    header nav .menu li{
        display: block;
        padding: 10%;
        width: 100%;
        border-top: 1px solid #3366;
    }
    header nav .menu .line{
        display: none;
    }
    header nav .close{
        top: 10%;
        right: 0%;
        z-index: 200;
    }
    header nav .btn{
        display: none;
    }
}
@media (min-width: 768px) and (max-width: 1023px){
    header{
        width: 100%;
        padding: 0px 10px;
    }
    header nav{
        width: 100%;
    }
    header nav .bars{
        display: block;
    }
    header nav .bars i{
        font-size: 30px;
    }
    header nav .menu{
        z-index: 100;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: #000000;
        position: fixed;
        padding: 0%;
        transition: all 0.1s;
        overflow-x: hidden;
    }
    header nav .menu li{
        display: block;
        padding: 10%;
        width: 100%;
        border-top: 1px solid #3366;
    }
    header nav .menu .line{
        display: none;
    }
    header nav .close{
        top: 10%;
        right: 0%;
        z-index: 200;
    }
    header nav .btn{
        display: none;
    }
}
@media (min-width: 1024px) and (max-width: 1280px){
    header{
        padding: 0px 5px;
    }

    header nav .menu li{
        font-size: 13px;
    }

    header nav .btn > div{
        font-size: 12px;
        padding: 5px 7px;
    }
}